.kast1 {
    float: left;
    width: 85%;
    height: 420px;
    background-color: white;
    color: black;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 7.5%;
    overflow: auto;
    border: 10px solid white;
    border-radius: 10px;
}
.tekst1 {
    float: left;
    max-width: 40%;
    padding-left: 40px;
    padding-top: 20px;
}
#pealkiri1 {
    padding-left: 140px;
}
#sisu1 {
    font-size: 130%;
    max-height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 130%;
}
#houston {
    float: right;
    width: 40%;
    height: 95%;
    margin-top: 10px;
    margin-right: 10px;
}
.kast2 {
    width: 85%;
    height: 420px;
    background-color: white;
    color: black;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 7.5%;
    border: 10px solid white;
    border-radius: 10px;
    overflow: auto;
}
.tekst2 {
    float: right;
    max-width: 40%;
    padding-right: 150px;
    padding-top: 20px;
}
#pealkiri2 {
    padding-left: 140px;
}
#sisu2 {
    font-size: 130%;
    max-height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 130%;
}
#vana {
    float: left;
    width: 40%;
    height: 95%;
    margin-top: 10px;
    margin-right: 10px;
}
.kast3 {
    width: 85%;
    height: 420px;
    background-color: white;
    color: black;
    margin-top: 7.5%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 7.5%;
    border: 10px solid white;
    border-radius: 10px;
    overflow: auto;
}
.tekst3 {
    float: left;
    max-width: 40%;
    padding-left: 40px;
    padding-top: 20px;
}
#pealkiri3 {
    padding-left: 140px;
}
#sisu3 {
    font-size: 130%;
    max-height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 130%;
}
#täna {
    float: right;
    width: 40%;
    height: 95%;
    margin-top: 10px;
    margin-right: 10px;
}