.sisu {
    margin-left: 20%;
    width: 60%;
    height: 610px;
    background-color: white;
    margin-bottom: 90px;
    border: 10px solid white;
    border-radius: 10px;
}
#nimi {
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 36px;
}
#pilt {
    width: 100%;
    height: 500px;
}
#moto {
    width: 100%;
    background-color: white;
    color: black;
    font-size: 36px;
    text-align: center;
}
.sisu2 {
    width: 60%;
    background-color: white;
    height: 580px;
    margin-left: 20%;
    border: 10px solid white;
    border-radius: 10px;
    overflow: auto;
}
#küsimus {
    text-align: center;
    background-color: white;
    color: black;
    font-size: 36px;
    width: 100%;
    margin-bottom: 30px;
    padding-top: 10px;
}
#list {
    float: left;
    width: 35%;
    margin-left: 70px;
}
li {
    background-color: white;
    color: black;
    width: 75%;
    font-size: 22px;
    padding: 5px;
    margin-top: 10px;
}
#pilt2 {
    width: 45%;
    height: 425px;
    margin-left: 40px;
    margin-right: 25px;
    border: 5px solid white;
}
.sisu3 {
    background-color: black;
    height: 640px;
    width: 60%;
    margin-left: 20%;
    margin-top: 150px;
    margin-bottom: 50px;
    border: 10px solid white;
    border-radius: 10px;
}
#highlights {
    background: white;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 36px;
    width: 100%;
    text-align: center;
}
#vid {
    width: 100%;
    height: 570px;
    border-bottom: 10px solid white;
}