* {
    margin: 0px;
    padding: 0px;
}
html, body {
    background-image: url(https://i.pinimg.com/originals/39/62/ee/3962ee088e78b551360c328626cecf67.jpg);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    width: 100%;
}
.menüü {
    height: 30px;
    background-color: red;
    padding: 20px;
    margin-bottom: 60px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    min-width: 700px;
}
a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid white;
}