.sisu {
    width: 60%;
    margin-left: 20%;
    border: 10px solid white;
    border-radius: 10px;
    background: black;
    margin-bottom: 50px;
    opacity: 0.95;
}
#pealkiri {
    text-align: center;
    color: white;
    font-size: 36px;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid white;
}
.roster {
    background: black;
    color: white;
    width: 100%;
    border-spacing: 0px;
    font-weight: bolder;
}
tr {
    font-size: 30px;
    border: 1px solid white;
}
td {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border: 1px solid white;
}
th {
    padding-bottom: 20px;
}
.paaritu {
    background: gray;
}