.container {
  max-width: 760px;
  margin: auto;
  border: 10px solid white;
  border-radius: 10px;
  background: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
}
.pea-pilt img,
.pildifailid img {
  width: 100%;
}

.pildifailid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}