.sisu {
    margin-left: 20%;
    width: 60%;
    height: 700px;
    background: white;
    border: 10px solid white;
    border-radius: 10px;
}
h1 {
    text-align: center;
    margin: 20px;
}
h3 {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h5 {
    margin-left: 40px;
    margin-bottom: 5px;
}